body {
    background-color: rgb(161, 236, 161);
    font-family: arial;
}

#welcome_msg {
    font-size: 200%;
}

/* id selector */
#top_menu {
    width: 50%;
    text-align: center;
    align-items: center;
    float: right;
    border: 2px solid black;
}

.top_menu {
    position: sticky;
    top: 5px;
}

/* class selector */
.top_menu_cell {
    width: 25%;
    border: 1px solid black;
}

caption {
    font-style: italic;
    font-size: 150%;
    color: purple;
    border: 2px solid royalblue; 
    padding: 25px; 
    text-align: center; 
    font-weight: 600;
}

#loulist {
    /* padding-top: 75%; */
    margin-top: 75%;
    width: 50%;
    border: 2px solid royalblue;
    background-color: goldenrod;
    color: purple;
    font-weight: 400;
    text-align: center; 
    align-items: center;
    overflow: scroll;
}

.loulist_cell {
    width: 50%;
    border: 1px solid royalblue;
    font-size: 200%;
}

/* mouse interaction */
a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: darkblue;
}

a:active {
    color: darkblue;
}

.top_menu_cell:hover {
    font-size: 200%;
    background-color: lightslategray;
    /* color: white; */
}