body {
    background-color: rgb(161, 236, 161);
    font-family: arial;
    background-image: url('./img/lou-diamond-phillips-pencil-greg-joens.jpg');
    background-repeat: repeat-x;
    position: relative;
}

#topofpage {
    font-size: 200%;
}

#top_menu {
    width: 45%;
    text-align: center;
    align-items: center;
    float: right;
    border: 2px solid black;
    background-color: lightgray;
    font-weight: 600;
    z-index: 1;
}

.top_menu {
    position: sticky;
    top: 5px;
}

.top_menu_cell {
    width: 25%;
    border: 2px solid black;
    background-color: yellow; /* this proves the inherit is working */
    background-color: inherit;
}

caption {
    font-style: italic;
    font-size: 150%;
    background-color: goldenrod;
    color: purple;
    border: 2px solid royalblue; 
    padding: 25px; 
    text-align: center; 
    font-weight: 600;
}

#loulist {
    margin-top: 50%;
    width: 100%;
    border: 2px solid royalblue;
    background-color: goldenrod;
    color: purple;
    font-weight: 400;
    text-align: center; 
    align-items: center;
    overflow: scroll;
}

.loulist_cell {
    width: 25%;
    border: 1px solid royalblue;
    font-size: 200%;
}

.advertisement {
    width: 150px;
    height: 100px;
    overflow-y: scroll;
    border: 2px solid black; 
    box-sizing: border-box;
    float: left;
    position: relative;
    z-index: 2;
}

#advertisement_2 {
    font-size: 16pt;
    width: 400px;
    /* height: 400px; */
    float: right;
    clear: left;
    position: relative;
    background-color: brown;
}

/* mouse interaction */
a:link {
    color: blue;
}

a:visited {
    color: darkblue;
}

a:hover {
    color: darkblue;
}

a:active {
    color: darkblue;
}

.top_menu_cell:hover {
    font-size: 200%;
}